#detailsContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 40px;
}

#detailBtns button {
    background-color: #efefef;
    text-transform: capitalize;
    padding: 10px;
    color: #000000;
    width: 70%;
}

#detailsContainer img {
    background-color: #CCC;
}

.uploadBox {
    margin-bottom: 0.5em !important;
}

.uploadMorePics {
    background-color: #333 !important;
    color: #fff !important;
}

textarea {
    width: '100%';
    height: 'auto';
}

@media screen and (max-width: 991px) {
    #detailsContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "gallery"
            "buttons"
            "description";
        grid-gap: 40px;
    }

    .buttons {
        grid-area: buttons;
        position: relative;
        top: 20px;
    }
    
    .description {
        grid-area: description;
        position: absolute;
        bottom: -23rem;
    }

    .gallery {
        grid-area: gallery;
    }
}

@media screen and (max-width: 546px) {
    .smallerPic {
        width: 94vw !important;
    }
}