.uploadBox {
    background-color: #EEE;
    text-align: center;
    margin-top: 16px;
    font-weight: normal;
    padding: 3rem 0;
    color: #888;
}

.Highlight {
    background-color: #DDD;
    text-align: center;
    margin-top: 16px;
    font-weight: normal;
    padding: 3rem 0;
    color: #888;
}

.uploadBox i, .Highlight i {
    font-size: 5em;
    margin-top: 2.5rem;
}

.FileInput {
    display: none;
}

.Dropzone {
    display: flex;
    justify-content: center;
}

.nameList {
    list-style-type: none;
    display: grid;
    /* margin-top: 2rem; */
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
}